// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel{
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.py-4{
  background-image: url('../../../public/images/main-car.jpg');
  height: 800px;
}
.div-home-page{
  width: 100%;
  color: gray;
}

h1{
  text-align: center;
  color: #333333;
  font-weight: bold;
  margin: 20px 0 40px 0;
}

h2{
  text-align: center;
  color: #7B7B7B;
  margin: 20px 0 40px 0;
}

.flex{
  display: flex;
  justify-content: space-around;
  height: 35px;
  font-size: 25px;
  padding-top: 2px;
}

// .flex-div{
//   text-align: center;
//   width: 33%;
//   border-bottom: 1px solid #5a6e79;
// }